<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-row>
      <ion-title>Home</ion-title>
      <ion-select #S (ionChange)="optionProv.setLang(S.value)" [ngModel]="optionProv.setLang">
        <ion-label>  <span class='flag-icon flag-icon-it'></span></ion-label>
        <ion-option *ngFor="let cc of lang" value="{{ cc }}">
          <p class='flag-icon flag-icon-{{ cc }}'></p>
          {{ cc }}
        </ion-option>
      </ion-select>
    </ion-row>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>
  <span class='flag-icon flag-icon-{{optionProv.lang}}'></span>


  <button ion-button secondary menuToggle>Toggle Menu</button>
  <!-- <p *ngFor='let m of monuments'>
    {{m.id}}-{{m.nome}}
  </p> -->
  <p *ngFor='let i of images'>
    <b>{{i.description}}</b><br> <img src='{{i.thumbnail}}' width=96px/>
  </p>
  <!-- <p *ngFor='let t of texts'>
  <b>{{t.description}} - {{t.lang}}</b> <audio controls="controls"  autobuffer="autobuffer" > <source src="{{t.audio}}" /></audio>
  <br>{{t.text}}

</p> -->
  <!-- {{text.text}} -->
  <!-- autobuffer="autobuffer" autoplay="autoplay"

  <!-- {{monuments|json}} -->
</ion-content>
