page-home {
  .alert-radio-group button:nth-child(1) .alert-radio-label:before {
      content: url(/assets/flags/4x3/it.svg);
  }

  .alert-radio-group button:nth-child(2) .alert-radio-label:before {
      content: url(/assets/flags/4x3/en.svg);
  }

  .alert-radio-group button .alert-radio-label:before {
      content: url(/assets/flags/4x3/en.svg);
  }

}
