$font-stack:    ElisabethClara, Helvetica, sans-serif;
$font-stack2:   Garamond, Helvetica, sans-serif;
$primary-color1: #e00;
$primary-color2: #fff;
$primary-color3: #efefef;                           //#a66;(porpora tendente al grigio (VCN))//#f22 Geranio (BS);
$primary-color4: #000;
$primary-color5: #111;                           //#a66;(porpora tendente al grigio (VCN))//#f22 Geranio (BS);
$primary-color6: #efefef;

@font-face {
    font-family: 'Toxica';
    font-weight: 200;
    src: url('../assets/fonts/TOXICA__.TTF') format('truetype');
}
@font-face {
    font-family: 'Garamond';
    font-weight: 200;
    src: url('../assets/fonts/AppleGaramond.ttf') format('truetype');
}
@font-face {
    font-family: 'ElisabethClara';
    font-weight: 200;
    src: url('../assets/fonts/ElisabethClara.otf') format('truetype');
}
@font-face {
    font-family: 'Gotico';
    font-weight: 150;
    src: url('../assets/fonts/gotico.ttf') format('truetype');
}
@font-face {
    font-family: 'Steel';
    font-weight: 150;
    src: url('../assets/fonts/Taste_of_steel.ttf') format('truetype');
}
@font-face {
    font-family: 'Linowrite';
    font-weight: 150;
    src: url('../assets/fonts/linowrite.ttf') format('truetype');
}

.pari {
  font-size: 150%;
  background-color: $primary-color1;
  color: $primary-color2;
  font-family: $font-stack;
}
div.pari{
  width: 70%;
  height: 100%;
  text-align: left;
  float: left;
  overflow: auto;
}
.dispari {
  font-size: 150%;
  background-color: $primary-color2;
  color: $primary-color1;
  font-family: $font-stack;
}
.menuItem_pari {
  font-size: 200%;
  background-color: $primary-color6;
  color: $primary-color5;
  font-family: $font-stack;
}
.menuItem_dispari {
  font-size: 200%;
  background-color: $primary-color2;
  color: $primary-color5;
  font-family: $font-stack;
}
div.dispari{
  width: 70%;
  text-align: right;
  float: right;
  overflow: auto;
}
.monumento {
  font-size: 150%;
  font-weight: 400;
  background-color: $primary-color3;
  color: $primary-color4;
  font-family: $font-stack;
}
.monumento_immagini{
  // border: 2px solid green;
  overflow: scroll;
  height: 50vh;
  font-family: $font-stack;
  font-weight: 600;

}
.monumento_testo{
  // border: 2px solid red;
  overflow: scroll;
  height: 35vh;
  font-family: $font-stack2;
  text-align: justify;
}
.monumento_immagine_grande_container{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.monumento_immagine_grande{
  vertical-align: middle;
  text-align: center;
  object-fit: scale-down;
  max-width: 50vh;
  max-height: 85vh;
  width: auto;
  height: auto;
}

.mapInfo {
  vertical-align: middle;
  text-align: center;
}
