<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item menuClose *ngFor="let p of pages; let odd=odd; let even=even" (click)="openPage(p)" [ngClass]="{'pari':even, 'dispari':odd}">
        <div class="item item-avatar" *ngIf=odd style="float: left"><img src={{p.icon}}/></div>
        <div [ngClass]="{'pari':even, 'dispari':odd}">{{p.title}}</div>
        <!-- <div >{{p.title}}</div> -->
        <div class="item item-avatar" *ngIf=even style="float: right"><img src={{p.icon}}/></div>
      </ion-item>
      <!-- <div menuClose ion-item *ngFor="let p of pages; let odd=odd; let even=even" (click)="openPage(p)"
      [ngClass]="{'pari':even, 'dispari':odd}">
        {{p.title}}
        <img src={{p.icon}}/>
      </div> -->
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
