<!--
  Generated template for the MonumentoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{qMonumento.nome}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class='monumento'>
  <ion-spinner *ngIf="wait"></ion-spinner>
  <ion-row [hidden]="immagineIngrandita" class='monumento_immagini' align-items-center>
    <ion-col>
      <ion-slides pager="true">
        <ion-slide *ngFor='let i of monumento.image' (click)="ingrandisciImmagine($event,i.id)">
          {{i.description}}<br>
          <img src='{{i.thumbnail}}'>
        </ion-slide>
      </ion-slides>
      <ion-fab right bottom [hidden]="wait">
        <button ion-fab (click)="togglePlay($event);">
          <ion-icon name="play" *ngIf="!playing"></ion-icon>
          <ion-icon name="pause" *ngIf="playing"></ion-icon>
        </button>
      </ion-fab>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="immagineIngrandita" align-items-center>
    <div class='monumento_immagine_grande_container'>
      <!-- {{tablet}} -->
      <img *ngIf="!tablet" src="http://213.32.67.54:8080/normal_image/{{immagineGrande}}" class="monumento_immagine_grande">
      <img *ngIf="tablet" src="http://213.32.67.54:8080/large_image/{{immagineGrande}}" class="monumento_immagine_grande">
      <ion-fab right top>
        <button ion-fab (click)=riduciImmagine($event);> <ion-icon name="close" ></ion-icon></button>
      </ion-fab>
    </div>
  </ion-row>
  <ion-row *ngFor='let t of texts' align-items-center>
    <ion-col [hidden]="immagineIngrandita" class='monumento_testo' align-items-center>
      <!-- <audio #audio id="audio" autobuffer="autobuffer"> <source src="{{texts[0].audio}}" /></audio> -->
        <div>{{t.text}}</div>
    </ion-col>
  </ion-row>
</ion-content>

<!-- autoplay='autoplay' -->
