<!--
  Generated template for the MonumentiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{type.description}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>

    <ion-item-divider *ngFor='let m of monuments; let odd=odd; let even=even' (click)="itemTapped($event, m.id)" [ngClass]="{'menuItem_pari':even, 'menuItem_dispari':odd}">
      <!-- <ion-avatar item-start>
      <img src='{{m.thumbnail}}'/>
    </ion-avatar> -->
      <ion-label  >{{m.nome}}</ion-label>
      <!-- <ion-label class='menuItem'>{{m.nome}}</ion-label> -->
    </ion-item-divider>
    </ion-list>
</ion-content>
