<!--
  Generated template for the PercorsiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Percorsi</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-item *ngFor='let p of paths; let odd=odd; let even=even' (click)="itemTapped($event, p.id)" [ngClass]="{'menuItem_pari':even, 'menuItem_dispari':odd}">
      <ion-label>{{p.nome}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
